@model PhonePalace.Domain.Entities.Accessory

@{
    ViewData["Title"] = "Detalles del Accesorio";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Brand != null ? model.Brand.Name : "")
        </dd>
        <dt class = "col-sm-3">
            Precio Venta
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-3">
            Costo
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Compatibility)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Compatibility)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>