@model IEnumerable<PhonePalace.Domain.Entities.Bank>
@{
    ViewData["Title"] = "Bancos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Banco</a>
</p>
<div class="card shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr class="@(item.IsActive ? "" : "table-danger")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" disabled @(item.IsActive ? "checked" : "") />
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.BankID" class="btn btn-sm btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.BankID" class="btn btn-sm btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.BankID" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>