@model PhonePalace.Domain.Entities.AccountPayable

@{
    ViewData["Title"] = "Eliminar Cuenta por Pagar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar esta cuenta por pagar?</h3>
<div>
    <h4>Cuenta por Pagar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-9">
            @Model.Amount.ToString("C")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-9">
            @Model.DueDate.ToString("d")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>