@model IEnumerable<PhonePalace.Web.ViewModels.ModelViewModel>

@{
    ViewData["Title"] = "Modelos de Teléfono";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Modelo</a>
</p>
<div class="card shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandName)
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.ModelID" class="btn btn-sm btn-outline-secondary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ModelID" class="btn btn-sm btn-outline-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.ModelID" class="btn btn-sm btn-outline-danger">Borrar</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>